@media (min-width: 700px){
    .card{
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);

        margin-top: 20px; 
        width: 400px;
    }
}

@media (max-width: 700px){
    .card{
        align-self: center;
        margin: 5px;
        padding: 10px;
    }
}