<mat-card>
  <h1><b>About I-Translate</b></h1>
  <br />
  <p>
    This app is for the Client-Side project. The developer's name is Amani Brik,
    a Computer Science student in BME.
  </p>
  <br />
  <p>
    The goal of the app is to use external APIs in order to translate words
    between different languages, give synonyms and antonyms as well as some
    example sentences to get a better idea of the meaning of the word.
  </p>
  <br />
  <p>
    This app was created with Angular <a>Yandex API</a> in 2022.
  </p>

  <br>
  <button mat-raised-button color="primary" routerLink="/">Go Back</button>
</mat-card>
